<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col" id="left">
                    <div class="col-lg-3">
                        <a routerLink="/">
                            <img src="assets/images/Fatoura-Logo-Dark.png" width="200" class="logo">
                        </a>
                    </div>  
                    <div class="col-lg-9">
                        <div class="Gilroy-Bold text-2xl mb-3">Forget Password</div>
                        <p>Please enter your registered email to get reset password link</p>
                        <form [formGroup]="forgetpasswordforms">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <input formControlName="email" class="form-control" type="email" name="email" placeholder="Enter email" reqiured>
                                </div>
                                <div class="text-danger errors mx-2" *ngIf="formErrors.email">{{formErrors.email}}</div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <button class="form-control" type="submit" (click)="forgetpassword()" name="login">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>                  
                </div>
                <div class="col" id="right">
                    <img src="assets/images/section3.3.svg" alt="google">                  
                </div>
            </div>
        </div>
    </div>
</div>