<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col" id="left">
                    <div class="col-lg-3">
                        <a routerLink="/">
                            <img src="assets/images/Fatoura-Logo-Dark.png" width="200" class="logo">
                        </a>
                    </div>  
                    <div class="col-lg-9">
                        <div class="Gilroy-Bold text-2xl mb-3">Sign up</div>
                        <form [formGroup]="signupforms">
                            <div class="form-group">
                                <div class="row">
                                    
                                        <div class="col-lg-6">
                                            <input formControlName="firstName" class="form-control" type="text" name="firstName" placeholder="Enter First Name" reqiured>
                                        </div>
                                        
                                        <div class="col-lg-6">
                                            <input formControlName="lastName" class="form-control" type="text" name="lastName" placeholder="Enter Last Name" reqiured>
                                        </div>
                                        
                                    
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="text-danger errors mx-2" *ngIf="formErrors.firstName">{{formErrors.firstName}}</div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="text-danger errors mx-2" *ngIf="formErrors.lastName">{{formErrors.lastName}}</div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <input formControlName="mobileNo" class="form-control" type="number" name="mobileNo" placeholder="Enter mobile number" reqiured>
                                </div>
                                <div class="text-danger errors mx-2" *ngIf="formErrors.mobileNo">{{formErrors.mobileNo}}</div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <input formControlName="email" class="form-control" type="email" name="email" placeholder="Enter email"
                                     reqiured>
                                </div>
                                <div class="text-danger errors mx-2" *ngIf="formErrors.email">{{formErrors.email}}</div>
                                
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <input class="form-control" formControlName="password" [type]="fieldTextType ? 'text': 'password'" Stype="password" name="password" placeholder="Enter password" reqiured>
                                    <div class="input-group-append">
                                        
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye':fieldTextType}"
                                            (click)="toggleFieldTextType()"></i>
                                    </div>
                                </div>
                                <div style="margin-top: 10px;" class="text-danger errors mx-2" *ngIf="formErrors.password">{{formErrors.password}}</div>
                                
                            </div>
                            <div class="form-group" style="margin-top: 28px;">
                                <div class="col-xs-2">
                                    <input formControlName="referralCode" class="form-control" type="text" name="referralCode" placeholder="Enter referral Code" reqiured>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <button class="form-control" type="submit" (click)="signup()" name="login">Let me in</button>
                                </div>
                            </div>
                        </form>
                        <p>Sign in With Social Media</p>
                        <span class="googleLogin">
                            <img src="assets/images/google.svg" alt="google" width="20" class="mx-2">Sign with Google
                        </span>
                        <p class="signupLink">Aleary a Member?<a routerLink="/auth/login">Sign In</a></p>
                    </div>                  
                </div>
                <div class="col" id="right">
                    <img src="assets/images/section3.3.svg" alt="google">                  
                </div>
            </div>
        </div>
    </div>
</div>